<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>회원 관리</title>
</th:block>


<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>회원 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>회원관리 </span> <span>리스트형</span> <span>리스트</span></p>
  </div>

  <div class="content">
    <section>



    </section>
  </div> <!--/* .content */-->
</th:block>



<th:block layout:fragment="script"> <!-- 스크립트 들어갈 부분 -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
    <script th:inline="Javascript">


    </script>


</th:block>