<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>권한 에러 페이지</title>
</th:block>


<th:block layout:fragment="content">
 <!--  
    
  <div class="page_tits">
    <h3>권한이 없는 페이지에 접근하였습니다.</h3>
    <p class="path"><strong> 권한이 없는 페이지에 접근하였습니다.</strong></p>
  </div>

-->
  <div class="content">
    <section>
      <div class="main">
        <h3>권한이 없는 페이지에 접근하였습니다.</h3>
        </div>
      </div>
    </section>
  </div> <!--/* .content */-->
</th:block>



<th:block layout:fragment="script"> <!-- 스크립트 들어갈 부분 -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
    <script th:inline="Javascript">


    </script>


</th:block>












</html>
